#navbar {
    display: flex;
    justify-content: space-between;
}
#header-image {
    width: 300px;
    height: 34px;
}
.nav-items {
    display: flex;
    justify-content: center;
}
.nav-link {
    color: black;
    text-decoration: none;
    font-size: 24px;

    margin-right: 60px;
}

#title {
    text-align: center;
    margin-top: 60px;
}
.title {
    font-size: 30px;
    font-weight: 700;
}
.input {
    margin-top: 30px;
}
.input-field {
    width: 300px;
}

.btn {
    margin-top: 30px;
}

.button {

    background-color: rgb(249, 214, 18);
    font-size: 20px;
    color: black;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 3px;
    
    transition: background-color 0.5s linear;
}

.button:hover {
    background-color: rgb(214, 185, 20);
    
}
/* about 
 */
.about{
   /* display: flex;
   justify-content: center; */
margin-top: 100px;
}
.about__wrapper{
    display: flex;
   justify-content: center;
text-align: left;
}

.about__img{
    width: 40px;
    height: 40px;
    margin-right: 100px;
}
#video-clip {
    display: flex;
    justify-content: center;
    margin-top: 70px;

} 
#video {
    width: 600px;
    height: 320px;
}

.cards-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.card-item {
    margin-right: 20px;
    border: 1px rgb(185, 179, 179) solid;
    border-radius: 2px;
    height: 310px;
    width: 310px;
    position: relative;
    
}
.card-title {
    background-color: rgb(214, 210, 210);
    font-size: 20px;
    font-weight: 700;
    align-self: center;
}
.card-price {
    font-size: 20px;
    font-weight: 700;
}
.card-btn {
    position: absolute;
    bottom: 10px;
    left: 108px;
    
}
.list__items{
    list-style: none;
}
.list__item{
    display: inline-block;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: rgb(23, 23, 23);
}
.footer{
    text-align: right;
    max-width: 1000px;
    color: rgb(98, 95, 95);
}